.daily-div {
    width: 13%;
    height: fit-content;
    background-color: rgba(236, 244, 255, 0.2);
    border-right: 1px solid rgba(248, 246, 246, 0.8);
}

.daily-div:first-child {
    border-radius: 15px 0 0 15px;
}


.daily-div:last-child {
    border: none;
    border-radius: 0 15px 15px 0;
}

.date {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-top: 5%;

}

.high {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
}

.low {
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    color: rgb(110, 109, 109);
}

.icon {
    width: 45%;
    height: 30%;
    padding: 0%;
    margin: 0;
}

@media screen and (max-width: 1200px) {


    .date {
        font-size: 1.3rem;
    }

    .high {
        font-size: 2.2rem;
    }

    .low {
        font-size: 2rem;
    }

    .daily-div {
        box-shadow: 0 30px 40px rgba(0,0,0,.1);
        height: fit-content;
    }

}

@media screen and (max-width: 950px) {


    .date {
        font-size: 1.3rem;
    }

    .high {
        font-size: 1.8rem;
    }

    .low {
        font-size: 1.7rem;
    }

    .daily-div {
        height: fit-content;
        width: 23%;
        border-right: none;
        box-shadow: 0 30px 40px rgba(0,0,0,.1);
        border-radius: 15px;
        margin-bottom: 2%;
    }

    .daily-div:first-child {
        border-radius: 15px;
    }
    
    
    .daily-div:last-child {
        border-radius: 15px;
    }

}

@media screen and (max-width: 500px) {
    
    .date {
        font-size: 1rem;
    }

    .high {
        font-size: 1.4rem;
    }

    .low {
        font-size: 1.2rem;
    }

    .daily-div {
        height: 50%;
        width: 23%;
        border-right: none;
        box-shadow: 0 30px 40px rgba(0,0,0,.1);
        margin-bottom: 1.5vh;
    }


}