.card {
    width: 40%;
    height:40vh;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 30px 40px rgba(0,0,0,.2);
    animation: card-appear 1s ease-out forwards;
    z-index: 0;
    
}

.bgclouds {
    background-image: url('https://images.all-free-download.com/images/graphiclarge/cloudy_day_5_212307.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.bgrain {
    background-image: url('https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/8/2018/02/GettyImages-476026368_169200751_239531242.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.bgthunderstorm {
    background-image: url('https://offloadmedia.feverup.com/secretnyc.co/wp-content/uploads/2020/07/20031940/bellbizdevoe.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.bgdrizzle {
    background-image: url('https://s3.envato.com/files/311180107/Lake%20view%20through%20window%20in%20rainy%20day.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.bgsnow {
    background-image: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/0A72/production/_123347620_ll.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.bgclear {
    background-image: url('https://images.unsplash.com/photo-1566734904077-42a83eee31f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(212, 212, 212, 0.7);
}

.left {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 55%;
    z-index: 1;
}

.right {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.city {
    font-size: 4rem;
    padding: 0;
    margin: 10px 0px 0px 20px;
    margin-left: 5%;
}

.desc {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    padding-bottom: 35px;
    text-transform: uppercase; 
}

.time{
    font-size: 3rem;
    margin: 0;
    padding: 0;
    margin-left: 5%;
}

.temp {
    font-size: 5rem;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

.row {
    text-align: left;
    font-size: 2rem;
    color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 4rem;
    height: 20%;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.row:last-child {
    border-bottom: none;
}


@keyframes card-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 2000px) {
    .card {
        height: 45vh;
    }

    .icon {
        height: 40%;
        width: 40%;
    }

    .row {
        line-height: 4rem;
    }
}

@media screen and (max-width: 1500px) {

    .card {
      width: 45%;
      height: 30vh;
    }

    .city {
        font-size: 3rem;
    }

    .time {
        font-size: 2.4rem;
    }

    .desc {
        font-size: 1.3rem;
        padding-bottom: 0;
    }

    .icon {
        width: 50%;
        height: 50%;
    }

    .temp {
        font-size: 4rem;
    }

    .row {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .left {
        width: 55%;
    }

    .right {
        width: 45%;
    }

  }

@media screen and (max-width: 1100px) {

    .card {
      width: 75%;
      height: 34vh;
    }

    .city {
        font-size: 2.5rem;
    }

    .time{
        font-size: 2.2rem;
        padding-bottom: 4%;
    }

    .desc {
        font-size: 1.5rem;
        padding-bottom: 8%;
    }

    .icon {
        width: 50%;
        height: 50%;
    }

    .temp {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .row {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .left {
        width: 45%;
    }

    .right {
        width: 55%;
    }

  }

@media screen and (max-width: 600px) {

    .card {
      width: 75%;
      height: 30vh;
    }

    .city {
        font-size: 1.7rem;
    }

    .time {
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    .desc {
        font-size: 1rem;
        margin-bottom: 8%;
    }

    .icon {
        width: 30%;
        height: 30%;
    }

    .temp {
        font-size: 3rem;
    }

    .row {
        font-size: 1rem;
        line-height: 2.3rem;
    }

    .left {
        width: 55%;
    }

    .right {
        width: 45%;
    }

  }

  @media screen and (max-width: 375px) {
      .row {
        font-size: 0.8rem;
        line-height: 2.2rem;
      }

      .right {
          width: 42%;
      }

      .left {
          width: 58%;
      }

      .card {
          height: 34vh;
      }

      .temp {
          font-size: 3.3rem;
      }
  }