.measurement {
    width: 5%;
    margin-top: 0.5vh;
}

.selected {
    width: 50%;
    height: 4vh;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        80deg,
        rgb(154, 201, 255) 0%,
        rgb(63, 162, 255) 100%
      );
    border: none;
}

.selected:hover{
    cursor: pointer;
}

.unselected {
    width: 45%;
    color: rgb(252, 252, 252);
    height: 3.5vh;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    border: none;
}

.unselected:hover{
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .measurement {
        width: 8%;
    }

    .selected {
        font-size: 1.3rem;
        height: 2rem;
    }

    .unselected {
        font-size: 1.3rem;
        height: 1.8rem;
    }
}


@media screen and (max-width: 900px) {
    .measurement {
        width: 15%;
    }

    .selected {
        font-size: 1.2rem;
    }

    .unselected {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .measurement {
        width: 20%;
        margin-bottom: 2vh;
    }

    .selected {
        font-size: 1rem;
        height: 4vh;
    }

    .unselected {
        font-size: 1rem;
        height: 3.5vh;
    }
}

@media screen and (max-width: 350px) {
    .measurement {
        width: 20%;
        margin-bottom: 5%;
    }

    .selected {
        font-size: 0.65rem;
        height: 2.7vh;
    }

    .unselected {
        font-size: 0.65rem;
        height: 2.5vh;
    }
}
