.measurement {
    width: 5%;
    height: 4vh;
    margin-top: 0.5vh;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.selectedC {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        80deg,
        rgb(154, 201, 255) 0%,
        rgb(63, 162, 255) 100%
      );
    border-radius: 12px 0 0 12px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.selectedF {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        80deg,
        rgb(154, 201, 255) 0%,
        rgb(63, 162, 255) 100%
      );
    border-radius: 0 12px 12px 0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.selectedC:hover, .selectedF:hover{
    cursor: pointer;
}

.unselectedC {
    width: 50%;
    color: rgb(252, 252, 252);
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 12px 0 0 12px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unselectedF {
    width: 50%;
    color: rgb(252, 252, 252);
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 0 12px 12px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.unselectedC:hover, .unselectedF:hover{
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .measurement {
        width: 8%;
    }

    .selectedC, .selectedF,  .unselectedC, .unselectedF {
        font-size: 1rem;
    }
}


@media screen and (max-width: 1100px) {
    .measurement {
        width: 12%;
    }

    .selectedC, .selectedF,  .unselectedC, .unselectedF {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .measurement {
        width: 16%;
        margin-left: 2%;
    }

    .selectedC, .selectedF,  .unselectedC, .unselectedF {
        font-size: 1rem;
    }

}

@media screen and (max-width: 400px) {
    .measurement{
        margin-bottom: 4%;
        width: 28%;
        margin-left: 0;
    }

    .selectedC, .selectedF,  .unselectedC, .unselectedF {
        font-size: 0.8rem;
    }

    .selectedC p, .selectedF p,  .unselectedC p, .unselectedF p{
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .measurement {
        height: 3vh;
        width: 25%;
        margin-bottom: 5%;
    }

    .selectedC, .selectedF,  .unselectedC, .unselectedF {
        font-size: 0.6rem;
    }
}
