.form {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.input-field {
  height: 30%;
  width: 20%;
  border-radius: 10px 0 0 10px;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 36%;
  background-color: rgb(216, 216, 216);
  font-size: 2rem;
}

.input-field:focus {
  outline: none;
  background-color: rgb(219, 216, 216);
  
}

.search-button {
  height: 30%;
  width: 8%;
  font-size: 2rem;
  border-radius: 0 10px 10px 0;
  border: none;
  margin: 0;
  padding: 0px;
  background: rgb(27, 42, 184);
  background: linear-gradient(
    80deg,
    rgb(219, 203, 55) 0%,
    rgb(248, 162, 64) 100%
  );
  color: white;
}

.search-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1700px) {

  .input-field {
    height: 30%;
    width: 30%;
    margin-left: 29%;
  }

  .search-button {
    width: 12%;
  }

}

@media screen and (max-width: 1100px) {

  .input-field {
    height: 25%;
    width: 35%;
    margin-left: 20%;
    font-size: 1rem;
  }

  .search-button {
    width: 20%;
    height: 25%;
    font-size: 1rem;
  }

}

