.form {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  width: 30%;
  flex-direction: row;
  margin-left: 35%;
  margin-right: 18%;
}

.input-field {
  height: 30%;
  width: 70%;
  border-radius: 10px 0 0 10px;
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  background-color: rgb(216, 216, 216);
  font-size: 2rem;
}

.input-field:focus {
  outline: none;
  background-color: rgb(219, 216, 216);
  
}

.search-button {
  height: 30%;
  width: 30%;
  font-size: 2rem;
  border-radius: 0 10px 10px 0;
  border: none;
  margin: 0;
  padding: 0px;
  background: rgb(27, 42, 184);
  background: linear-gradient(
    80deg,
    rgb(154, 201, 255) 0%,
    rgb(63, 162, 255) 100%
  );
  color: white;
}

.search-button:hover {
  cursor: pointer;
}


@media screen and (max-width: 1300px) {

  .form {
    height: 12vh;
  }

  .input-field {
    height: 100%;
    width: 70%;
    font-size: 1.3rem;
    margin: 0;
  }

  .search-button {
    width: 30%;
    height: 100%;
    font-size: 1.3rem;
  }

  .container {
    align-self: center;
    display: flex;
    height: 5vh;
    width: 30%;
    flex-direction: row;
    margin-left: 37%;
    margin-right: 10%;
  }

}

@media screen and (max-width: 850px) {

  .form {
    flex-direction: row;
    height: 10vh;
  }
  .container {
    align-self: center;
    display: flex;
    width: 55%;
    flex-direction: row;
    margin-left: 22.5%;
    margin-right: 2%;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
  }
}

@media screen and (max-width: 500px) {

  .form {
    flex-direction: column;
    height: 14vh;
  }
  .container {
    align-self: center;
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
  }

  .input-field, .search-button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {

  .form {
    flex-direction: column;
  }

  .container {
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    margin-bottom: 1vh;
    height: 4vh;
    width: 90%;
  }

  .input-field {
    height: 100%;
    width: 60%;
    font-size: 1rem;
  }

  .search-button {
    width: 40%;
    height: 100%;
    font-size: 0.8rem;
  }

}

