.weekly-div {
    width: 79%;
    height: 25vh;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .weekly-div {
        width: 90%;
        height: 20vh;
    }
}

@media screen and (max-width: 900px) { 
    .weekly-div {
        width: 70%;
        height: 35vh;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) { 
    .weekly-div {
        width: 95%;
        height: 30vh;
        display: flex;
        flex-wrap: wrap;
    }
}

