.App {
  text-align: center;
  /* background: url("https://capturedbyjacob.files.wordpress.com/2012/11/misty-morning-teglholmen.jpg");
  background-repeat: no-repeat;
  background-size: auto; */
  background-color: rgb(233, 233, 233);
  height: 100vh;
}



